body {
  font-family: sans-serif;
}

#list_no_style {
  list-style-type: none;
}

h5 {
  margin: 0;
  padding: 0;
}

#content_unordered_list {
  background-color: #141414;
  list-style-type: none;
  color: white;
  line-height: 100%;
  margin: 20px 0;
}
